html {
  transition-delay: 2s;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    height: vh100;
    width: 100%;
    background: linear-gradient(90deg, #000,#262626, #000);
    z-index: -2;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  
}
.cover-container {
  max-width: 90%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {

  width: 0;
  transition-delay: 5s;
}
#scrollPath {
  position: fixed;
  top:0;
  right: 0;
  width: 10px;
  height: 100%;
  /* background-color: #000; */
  background: rgba(255,255,255,0);
}
#progressbar {
  position: fixed;
  top:0;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, #03a9f4, #f441a5,#ffeb3b, #03a9f4);
  animation: scrool-animate 5s linear infinite;
}
@keyframes scrool-animate {
  0%,100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}
#progressbar:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #03a9f4, #f441a5,#ffeb3b, #03a9f4);
}
#progressbar:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #03a9f4, #f441a5,#ffeb3b, #03a9f4);
}
a{
  overflow: hidden !important;
  position: relative;
  border-radius: 30px;
}
span {
  position: absolute;
  background: #fff;
  transform: translate(-50%,-50%);
  pointer-events: none;
  border-radius: 50%;
  
  animation: animate-btn 1s linear infinite;
}

@keyframes animate-btn {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}