body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 0;
}
#scrollPath {
  position: fixed;
  top:0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255,255,255,0.5);
}
#progressbar {
  position: fixed;
  top:0;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, #03a9f4, #f441a5,#ffeb3b, #03a9f4);
  animation: scrool-animate 5s linear infinite;
}
@keyframes scrool-animate {
  0%,100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}
#progressbar:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #03a9f4, #f441a5,#ffeb3b, #03a9f4);
}
#progressbar:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #03a9f4, #f441a5,#ffeb3b, #03a9f4);
}